.description{
    display: flex;
    flex-direction: column;
}

.description__title{
    margin-left: 17vw;
    font-size: 2rem;
    margin-top: 4rem;
}

.description__resum{
    background-color: white;
    width: 80%;
    height: auto;
    padding: 2rem 0 2rem 0;
    margin: 0 auto;
    margin-top: 4rem;
    border-radius: 26px;
}

.description__resum--text{
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.5rem;
}