.share__title{
    margin-left: 17vw;
    font-size: 2rem;
    margin-top: 4rem;
}

.share__icons{
    width: 80vw;
    background-color: white;
    height: 6rem;
    margin: 0 auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.share__icon{
    background-color: red;
    align-items: center;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}