.header{
    align-items: center;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    max-height: 60px;
}

.header__logo{
    height: 60px;
}

.profile{
    width: 50px;
    height: 50px;
}

.header__nav--ul{
    display: none;
    list-style-type: none;
    padding: 0;
}

.header__nav--ul-ativo{
    display: block;
    flex-direction: column;
    padding: 0;
    position: absolute;
    right: 0;
    top: 60px;
    width: 50vw;
}

.header__nav--ul_li{
    display: inline-block;
    margin-left: 10px;
}

.header__nav--ul_li-a{
    color: #fff;
    margin-right: 2rem; 
    text-decoration: none;
}

.header__nav--ul_li-a-ativo{
    background-color: #333;
    color: #fff;
    display: block;
    font-size: 2rem;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 50vw;
}

.header__hamburger{
    cursor: pointer;
    font-size: 30px;
    padding: 0.75rem;
}


@media screen and (min-width: 768px) {
    .header__nav--ul {
        align-items: center;
        display: flex;
        height: 60px;
        list-style-type: none;
        position: absolute;
        top: 0;
        right: 0; 
    }

    .header__hamburger {
        display: none;
    }

    .header__nav--ul-ativo{
        display: none;
    }

}