.footer{
    padding: 20px;
    text-align: center;
    background-color: #333;
    }
    
    .footer__list{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style-type: none;
    margin-bottom: 20px;
    }
    
    .footer__list--link{
    color: #fff;
    text-decoration: none;
    }
    
    .footer__policy{
    color: #fff;
    text-decoration: none;
    }