.contact{
    width: 100vw;
    height: 100vh;
    background-color: #240839;
    display: flex;
    flex-direction: column;
}

.contact__title{
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__title--text{
    color: white;
    font-size: 2rem;
}

.contact__form{
    display: flex;
}

.contact__form--space{
    width: 50vw;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form--space_item{
    width: 26rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 0 2rem;
}

.contact__form--space_name{

}

.contact__form--space_email{

}

.contact__form--space_phone{

}

.contact__form--space_message{
    width: 26rem;
    height: 16rem;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 2rem 2rem;
}

.contact__form--space_button{
    border: none;
    background-color: #1A4CFF;
    color: white;
    font-size: 1.25rem;
    width: 30rem;
}

.contact__form--keyboard{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.contact__form--keyboard_img{
    width: 30vw;
    height: 33vh;
}