.content__about{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: calc(((100vh - 12rem) - 70vh) / 2);
}

.content__about--links{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__about--links_link{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.about__me--link-1{
    width: 20vw;
    background-color: #181C18;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 30px 0 0;
    position:relative;
    z-index: 3;
    border-left: 5px solid #333733;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.about__me--link-2{
    width: calc(20vw + 2rem);
    background-color: #414D3F;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 30px 0 0;
    margin-left: -2rem;
    position:relative;
    z-index: 2;
}

.about__me--link-3{
    width: calc(20vw + 2rem);
    background-color: #253123;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 30px 0 0;
    margin-left: -2rem;
    position:relative;
    z-index: 1;
    border-right: 5px solid #333733;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.content__about--descriptions{
    width: 60vw;
    border-right: 5px solid #333733;
    border-left: 5px solid #333733;
    border-bottom: 5px solid #333733;
    border-radius: 0 0 30px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #253123;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.content__about--descriptions--description{
    color: white;
    font-size: 1.5rem;
    width: 90%;
    margin-top: 2rem;
    text-align: justify;
}