body{
    background-color: #C9E1E0;
    overflow-x: hidden;
}

.first-section{
    width: 100vw;
    height: calc(100vh - 4.5rem);
    background-color: #122126;
}

.second-section{
    width: 100vw;
    height: 100vh;
    background-color: #151C33;
}

.third-section{
    width: 100vw;
    height: 100vh;
    background-color: #450065;
}


