.navbar{
    width: 100vw;
    height: 4.5rem;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo{
    height: 4.5rem;
    width: 13rem;
    background-color: red;
}

.navbar__menu{
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    align-items: center;
}

.navbar__menu--login{
    background-color: transparent;
    padding: 1rem 1.5rem;
    border: 1px solid white;
    border-radius: 32px;
}

.navbar__menu--register{
    background-color: transparent;
    padding: 1rem 1.5rem;
    border: 1px solid white;
    border-radius: 32px;
}

.navbar__menu--text{
    color: white;
    text-decoration: none;
}